In [46]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

from tensorflow.keras.models import load_model

In [47]:
model=load_model('model.h5')

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('laber_encoder_gender.pkl','rb') as file:
    label_encode_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [48]:
input_data={
    'CreditScore':600, 'Geography':"France", 'Gender':'Male', 'Age':40, 'Tenure':3, 'Balance':60000,
       'NumOfProducts':2, 'HasCrCard':1, 'IsActiveMember':1, 'EstimatedSalary':50000
        }

In [49]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

e:\FAIZ SOFTWARE\KRISH NAIK COURSE\My_KN_DSML\ANN_Classification_Project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [50]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [51]:
 input_df['Gender']=label_encode_gender.transform(input_df['Gender'])

In [52]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [53]:
df=input_df.join(geo_encoded_df).drop('Geography',axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [54]:
scaler.transform(df)

array([[-0.52281016,  0.91241915,  0.10281024, -0.69598177, -0.26422114,
         0.80773656,  0.64609167,  0.97024255, -0.87101922,  0.99720391,
        -0.57873591, -0.57380915]])

In [55]:
model.predict(scaler.transform(df))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 210ms/step

array([[0.02981467]], dtype=float32)